@model Packt.Shared.Employee

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-reader">@Model.FirstName
        @Model.LastName</div>
    <div class="card-body text-dark">
        <h5 class="card-title">@Model.Country</h5>
        <p ckass="card-text">@Model.Notes</p>
    </div>
</div>